# =============================================
# BLUE/GREEN DEPLOYMENT CONFIGURATION
# =============================================
# This is basically what my .env looks like. Just replaced with your actual values
# This is to ensure i do not commit .env to version control!
# =============================================

# Docker Images for Blue/Green Deployment
# i repalced with the actual pre-built image names
BLUE_IMAGE=your-username/your-blue-app:latest
GREEN_IMAGE=your-username/your-green-app:latest

# Active Pool Configuration
# Determines which pool (blue/green) receives traffic initially
ACTIVE_POOL=blue

# Release Identifiers
# These will be displayed in the X-Release-Id header
RELEASE_ID_BLUE=blue-release-v1
RELEASE_ID_GREEN=green-release-v1